In [1]:
import pandas as pd
import numpy as np

MONTHS = ['Januar', 'Februar', 'März', 'April', 'Mai', 'Juni', 'Juli', 'August', 'September', 'Oktober', 'November', 'Dezember']
LEAP_YEARS = ['2000', '2004', '2008', '2012', '2016', '2020']

def parseToInt(df, columnname, separator=' '):
    df[columnname] = df[columnname].str.replace(separator, '')
    df[columnname] = df[columnname].astype(int)
    return df

def prepare(df_raw):
    # remove unused cells and prepare remaining
    df_clean = df_raw.iloc[8:]
    df_clean.columns = df_raw.iloc[7]
    df_clean.columns = df_clean.columns.fillna('Jahr')
    df_clean = df_clean.iloc[:, 1:-1]
    df_clean = df_clean.dropna()

    for month in MONTHS:
        df_clean = parseToInt(df_clean, month)

    return df_clean

def fix_leapyear(df):
    df['Februar'] = np.where((df['Jahr'].isin(LEAP_YEARS)), #Identifies the case to apply to
                           df['Februar'] / 29 * 28,      #This is the value that is inserted
                           df['Februar'])      #This is the column that is affected
    df['Februar'] = np.floor(df['Februar']).astype(int)
    return df
    
def add_gesamt(df_clean):
    # create sum of all months
    gesamt = df_clean[MONTHS[0]].copy()

    for month in MONTHS[1:]:
        gesamt += df_clean[month]

    df_clean['gesamt'] = gesamt
        
    return df_clean

# prepare death rate table "df_age"
df_2000 = pd.read_csv('../assets/sterbefaelle_2000-2015.csv')
df_2016 = pd.read_csv('../assets/sterbefaelle_2016-2021.csv')

df_clean_2000 = prepare(df_2000)
df_clean_2016 = prepare(df_2016)

df_clean_2000 = fix_leapyear(df_clean_2000)
df_clean_2016 = fix_leapyear(df_clean_2016)

df_clean_2000 = add_gesamt(df_clean_2000)
df_clean_2016 = add_gesamt(df_clean_2016)

df_age = pd.DataFrame(None, columns = ['age'])
df_age['age'] = df_clean_2000['unter … Jahren'][1:17]
# not used as no population data is available for these years
# df_age = df_age.assign(J2000=df_clean_2000[df_clean_2000['Jahr'] == '2000']['gesamt'][1:].tolist())
# df_age = df_age.assign(J2001=df_clean_2000[df_clean_2000['Jahr'] == '2001']['gesamt'][1:].tolist())
# df_age = df_age.assign(J2002=df_clean_2000[df_clean_2000['Jahr'] == '2002']['gesamt'][1:].tolist())
# df_age = df_age.assign(J2003=df_clean_2000[df_clean_2000['Jahr'] == '2003']['gesamt'][1:].tolist())
# df_age = df_age.assign(J2004=df_clean_2000[df_clean_2000['Jahr'] == '2004']['gesamt'][1:].tolist())
# df_age = df_age.assign(J2005=df_clean_2000[df_clean_2000['Jahr'] == '2005']['gesamt'][1:].tolist())
# df_age = df_age.assign(J2006=df_clean_2000[df_clean_2000['Jahr'] == '2006']['gesamt'][1:].tolist())
# df_age = df_age.assign(J2007=df_clean_2000[df_clean_2000['Jahr'] == '2007']['gesamt'][1:].tolist())
# df_age = df_age.assign(J2008=df_clean_2000[df_clean_2000['Jahr'] == '2008']['gesamt'][1:].tolist())
# df_age = df_age.assign(J2009=df_clean_2000[df_clean_2000['Jahr'] == '2009']['gesamt'][1:].tolist())
# df_age = df_age.assign(J2010=df_clean_2000[df_clean_2000['Jahr'] == '2010']['gesamt'][1:].tolist())
df_age = df_age.assign(J2011=df_clean_2000[df_clean_2000['Jahr'] == '2011']['gesamt'][1:].tolist())
df_age = df_age.assign(J2012=df_clean_2000[df_clean_2000['Jahr'] == '2012']['gesamt'][1:].tolist())
df_age = df_age.assign(J2013=df_clean_2000[df_clean_2000['Jahr'] == '2013']['gesamt'][1:].tolist())
df_age = df_age.assign(J2014=df_clean_2000[df_clean_2000['Jahr'] == '2014']['gesamt'][1:].tolist())
df_age = df_age.assign(J2015=df_clean_2000[df_clean_2000['Jahr'] == '2015']['gesamt'][1:].tolist())
df_age = df_age.assign(J2016=df_clean_2016[df_clean_2016['Jahr'] == '2016']['gesamt'][1:].tolist())
df_age = df_age.assign(J2017=df_clean_2016[df_clean_2016['Jahr'] == '2017']['gesamt'][1:].tolist())
df_age = df_age.assign(J2018=df_clean_2016[df_clean_2016['Jahr'] == '2018']['gesamt'][1:].tolist())
df_age = df_age.assign(J2019=df_clean_2016[df_clean_2016['Jahr'] == '2019']['gesamt'][1:].tolist())
df_age = df_age.assign(J2020=df_clean_2016[df_clean_2016['Jahr'] == '2020']['gesamt'][1:].tolist())
df_age = df_age.rename(columns={'J2011' : '2011', 'J2012' : '2012', 'J2013' : '2013', 'J2014' : '2014', 'J2015' : '2015', 'J2016' : '2016', 'J2017' : '2017', 'J2018' : '2018', 'J2019' : '2019', 'J2020' : '2020', })
df_age = df_age.assign(max=df_age.max(axis=1))
df_age.set_index('age')

/usr/local/lib/python3.8/site-packages/pandas/compat/__init__.py:97: UserWarning: Could not import the lzma module. Your installed Python is incomplete. Attempting to use lzma compression will result in a RuntimeError.
  warnings.warn(msg)

,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020,max
age,,,,,,,,,,,
0-15,3577,3239,3293,3255,3442,3786,3573,3613,3556,3295,3786
15-30,4990,4638,4474,4311,4589,4360,4155,4202,3969,3832,4990
30-35,2608,2444,2591,2546,2788,2681,2713,2637,2635,2600,2788
35-40,3564,3339,3464,3417,3613,3707,3752,3833,3899,4049,4049
40-45,7948,7383,6811,6231,6083,5835,5314,5547,5435,5787,7948
45-50,15382,14847,14550,13653,13409,12754,11752,11060,10140,9676,15382
50-55,24012,23780,24400,23992,24213,23522,22882,22654,21415,20749,24400
55-60,33136,32689,33820,33296,34940,35330,35073,36452,35552,36419,36452
60-65,43202,44317,46113,45859,47758,47319,47691,49584,48966,50792,50792
65-70,56576,53497,54161,51883,56656,60630,62730,65660,65504,67333,67333
70-75,99387,98721,97568,90803,87833,78232,75588,75437,73890,78513,99387
75-80,117133,121148,129725,131004,139965,138365,139232,137300,129065,122868,139965
80-85,151469,153517,153486,144685,156003,155424,165342,176688,181439,194250,194250
85-90,158626,160892,167328,162906,176006,170607,173944,174068,168926,183109,183109
90-95,88334,103340,115811,117374,127093,121470,127855,131971,131257,140817,140817
95 u. mehr,42384,39146,36230,33141,40809,44229,50667,54168,53872,58714,58714

In [ ]:
# prepare population table "df_pop"

# clean asset data
df_population = pd.read_csv('../assets/bevoelkerung_2011.csv')

df_population = df_population.iloc[:, 0:-2]
del df_population['gesamt']
# parse values
for (columnName, columnData) in df_population.iloc[:, 1:].iteritems():
    df_population[columnName] = df_population[columnName].str.replace('AKA-', '')
    df_population[columnName] = df_population[columnName].str.replace('+', '')
    df_population[columnName] = df_population[columnName].astype(int)
    
df_population.iloc[::-1]
df_population = df_population.set_index('jahr')
df_population = df_population.transpose()


def fill_year_column(year):
    df_pop.loc[9,year] = df_population.loc['unter 20', year] * 3 / 4 # '0-15 ',
    df_pop.loc[10,year] = df_population.loc['unter 20', year] * 1 / 4 + df_population.loc['20 bis 40', year] / 2 #  '15-30 ',
    df_pop.loc[11,year] =  df_population.loc['20 bis 40', year] / 4 # '30-35 ',
    df_pop.loc[12,year] =  df_population.loc['20 bis 40', year] / 4 #  '35-40 ',
    df_pop.loc[13,year] =  df_population.loc['40 bis 60', year] / 4 #  '40-45 ',
    df_pop.loc[14,year] =  df_population.loc['40 bis 60', year] / 4 #  '45-50 ',
    df_pop.loc[15,year] =  df_population.loc['40 bis 60', year] / 4 #  '50-55 ',
    df_pop.loc[16,year] =  df_population.loc['40 bis 60', year] / 4 #  '55-60 ',
    df_pop.loc[17,year] =  df_population.loc['60 bis 80', year] / 4 #  '60-65 ',
    df_pop.loc[18,year] =  df_population.loc['60 bis 80', year] / 4 #  '65-70 ',
    df_pop.loc[19,year] =  df_population.loc['60 bis 80', year] / 4 #  '70-75 ',
    df_pop.loc[20,year] =  df_population.loc['60 bis 80', year] / 4 #  '75-80 ',
    df_pop.loc[21,year] =  df_population.loc['80 bis 100', year] / 4 #  '80-85 ',
    df_pop.loc[22,year] =  df_population.loc['80 bis 100', year] / 4 #  '85-90 ',
    df_pop.loc[23,year] =  df_population.loc['80 bis 100', year] / 4 #  '90-95 ',
    df_pop.loc[24,year] =  df_population.loc['80 bis 100', year] / 4 + df_population.loc['100 und mehr', year] #  '95 u. mehr

# create df_pop table with clean data
df_pop = pd.DataFrame(None, columns = ['age'])
df_pop['age'] = df_clean_2000['unter … Jahren'][1:17]

fill_year_column(2011)
fill_year_column(2012)
fill_year_column(2013)
fill_year_column(2014)
fill_year_column(2015)
fill_year_column(2016)
fill_year_column(2017)
fill_year_column(2018)
fill_year_column(2019)
fill_year_column(2020)
df_pop.set_index('age')

In [ ]:
# prepare relative data by dividing death rates by population
df_relative = pd.DataFrame(None, columns = ['age'])
df_relative['age'] = df_clean_2000['unter … Jahren'][1:17]

def calc_year_column(year):
    df_relative[year] = df_age[year] / df_pop[int(year)]

calc_year_column('2011')
calc_year_column('2012')
calc_year_column('2013')
calc_year_column('2014')
calc_year_column('2015')
calc_year_column('2016')
calc_year_column('2017')
calc_year_column('2018')
calc_year_column('2019')
calc_year_column('2020')

df_relative.set_index('age')

# store result
df_relative.to_csv('../outupt/relative_sterberaten.csv', index = False)