In [1]:
import pandas as pd
import numpy as np

MONTHS = ['Januar', 'Februar', 'März', 'April', 'Mai', 'Juni', 'Juli', 'August', 'September', 'Oktober', 'November', 'Dezember']
LEAP_YEARS = ['2000', '2004', '2008', '2012', '2016', '2020']

def parseToInt(df, columnname, separator=' '):
    df[columnname] = df[columnname].str.replace(separator, '')
    df[columnname] = df[columnname].astype(int)
    return df

def prepare(df_raw):
    # remove unused cells and prepare remaining
    df_clean = df_raw.iloc[8:]
    df_clean.columns = df_raw.iloc[7]
    df_clean.columns = df_clean.columns.fillna('Jahr')
    df_clean = df_clean.iloc[:, 1:-1]
    df_clean = df_clean.dropna()

    for month in MONTHS:
        df_clean = parseToInt(df_clean, month)

    return df_clean

def fix_leapyear(df):
    df['Februar'] = np.where((df['Jahr'].isin(LEAP_YEARS)), #Identifies the case to apply to
                           df['Februar'] / 29 * 28,      #This is the value that is inserted
                           df['Februar'])      #This is the column that is affected
    df['Februar'] = np.floor(df['Februar']).astype(int)
    return df
    
def add_gesamt(df_clean):
    # create sum of all months
    gesamt = df_clean[MONTHS[0]].copy()

    for month in MONTHS[1:]:
        gesamt += df_clean[month]

    df_clean['gesamt'] = gesamt
        
    return df_clean

# prepare death rate table "df_age"
df_2000 = pd.read_csv('../assets/sterbefaelle_2000-2015.csv')
df_2016 = pd.read_csv('../assets/sterbefaelle_2016-2021.csv')

df_clean_2000 = prepare(df_2000)
df_clean_2016 = prepare(df_2016)

df_clean_2000 = fix_leapyear(df_clean_2000)
df_clean_2016 = fix_leapyear(df_clean_2016)

df_clean_2000 = add_gesamt(df_clean_2000)
df_clean_2016 = add_gesamt(df_clean_2016)

df_age = pd.DataFrame(None, columns = ['age'])
df_age['age'] = df_clean_2000['unter … Jahren'][1:17]
# not used as no population data is available for these years
# df_age = df_age.assign(J2000=df_clean_2000[df_clean_2000['Jahr'] == '2000']['gesamt'][1:].tolist())
# df_age = df_age.assign(J2001=df_clean_2000[df_clean_2000['Jahr'] == '2001']['gesamt'][1:].tolist())
# df_age = df_age.assign(J2002=df_clean_2000[df_clean_2000['Jahr'] == '2002']['gesamt'][1:].tolist())
# df_age = df_age.assign(J2003=df_clean_2000[df_clean_2000['Jahr'] == '2003']['gesamt'][1:].tolist())
# df_age = df_age.assign(J2004=df_clean_2000[df_clean_2000['Jahr'] == '2004']['gesamt'][1:].tolist())
# df_age = df_age.assign(J2005=df_clean_2000[df_clean_2000['Jahr'] == '2005']['gesamt'][1:].tolist())
# df_age = df_age.assign(J2006=df_clean_2000[df_clean_2000['Jahr'] == '2006']['gesamt'][1:].tolist())
# df_age = df_age.assign(J2007=df_clean_2000[df_clean_2000['Jahr'] == '2007']['gesamt'][1:].tolist())
# df_age = df_age.assign(J2008=df_clean_2000[df_clean_2000['Jahr'] == '2008']['gesamt'][1:].tolist())
# df_age = df_age.assign(J2009=df_clean_2000[df_clean_2000['Jahr'] == '2009']['gesamt'][1:].tolist())
# df_age = df_age.assign(J2010=df_clean_2000[df_clean_2000['Jahr'] == '2010']['gesamt'][1:].tolist())
df_age = df_age.assign(J2011=df_clean_2000[df_clean_2000['Jahr'] == '2011']['gesamt'][1:].tolist())
df_age = df_age.assign(J2012=df_clean_2000[df_clean_2000['Jahr'] == '2012']['gesamt'][1:].tolist())
df_age = df_age.assign(J2013=df_clean_2000[df_clean_2000['Jahr'] == '2013']['gesamt'][1:].tolist())
df_age = df_age.assign(J2014=df_clean_2000[df_clean_2000['Jahr'] == '2014']['gesamt'][1:].tolist())
df_age = df_age.assign(J2015=df_clean_2000[df_clean_2000['Jahr'] == '2015']['gesamt'][1:].tolist())
df_age = df_age.assign(J2016=df_clean_2016[df_clean_2016['Jahr'] == '2016']['gesamt'][1:].tolist())
df_age = df_age.assign(J2017=df_clean_2016[df_clean_2016['Jahr'] == '2017']['gesamt'][1:].tolist())
df_age = df_age.assign(J2018=df_clean_2016[df_clean_2016['Jahr'] == '2018']['gesamt'][1:].tolist())
df_age = df_age.assign(J2019=df_clean_2016[df_clean_2016['Jahr'] == '2019']['gesamt'][1:].tolist())
df_age = df_age.assign(J2020=df_clean_2016[df_clean_2016['Jahr'] == '2020']['gesamt'][1:].tolist())
df_age = df_age.rename(columns={'J2011' : '2011', 'J2012' : '2012', 'J2013' : '2013', 'J2014' : '2014', 'J2015' : '2015', 'J2016' : '2016', 'J2017' : '2017', 'J2018' : '2018', 'J2019' : '2019', 'J2020' : '2020', })
df_age = df_age.assign(max=df_age.max(axis=1))
df_age.set_index('age')

/usr/local/lib/python3.8/site-packages/pandas/compat/__init__.py:97: UserWarning: Could not import the lzma module. Your installed Python is incomplete. Attempting to use lzma compression will result in a RuntimeError.
  warnings.warn(msg)

,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020,max
age,,,,,,,,,,,
0-15,3577,3239,3293,3255,3442,3786,3573,3613,3556,3295,3786
15-30,4990,4638,4474,4311,4589,4360,4155,4202,3969,3832,4990
30-35,2608,2444,2591,2546,2788,2681,2713,2637,2635,2600,2788
35-40,3564,3339,3464,3417,3613,3707,3752,3833,3899,4049,4049
40-45,7948,7383,6811,6231,6083,5835,5314,5547,5435,5787,7948
45-50,15382,14847,14550,13653,13409,12754,11752,11060,10140,9676,15382
50-55,24012,23780,24400,23992,24213,23522,22882,22654,21415,20749,24400
55-60,33136,32689,33820,33296,34940,35330,35073,36452,35552,36419,36452
60-65,43202,44317,46113,45859,47758,47319,47691,49584,48966,50792,50792
65-70,56576,53497,54161,51883,56656,60630,62730,65660,65504,67333,67333
70-75,99387,98721,97568,90803,87833,78232,75588,75437,73890,78513,99387
75-80,117133,121148,129725,131004,139965,138365,139232,137300,129065,122868,139965
80-85,151469,153517,153486,144685,156003,155424,165342,176688,181439,194250,194250
85-90,158626,160892,167328,162906,176006,170607,173944,174068,168926,183109,183109
90-95,88334,103340,115811,117374,127093,121470,127855,131971,131257,140817,140817
95 u. mehr,42384,39146,36230,33141,40809,44229,50667,54168,53872,58714,58714

In [2]:
# prepare population table "df_pop"

# clean asset data
df_population = pd.read_csv('../assets/bevoelkerung_2011.csv')

df_population = df_population.iloc[:, 0:-2]
del df_population['gesamt']
# parse values
for (columnName, columnData) in df_population.iloc[:, 1:].iteritems():
    df_population[columnName] = df_population[columnName].str.replace('AKA-', '')
    df_population[columnName] = df_population[columnName].str.replace('+', '')
    df_population[columnName] = df_population[columnName].astype(int)
    
df_population.iloc[::-1]
df_population = df_population.set_index('jahr')
df_population = df_population.transpose()


def fill_year_column(year):
    df_pop.loc[9,year] = df_population.loc['unter 20', year] * 3 / 4 # '0-15 ',
    df_pop.loc[10,year] = df_population.loc['unter 20', year] * 1 / 4 + df_population.loc['20 bis 40', year] / 2 #  '15-30 ',
    df_pop.loc[11,year] =  df_population.loc['20 bis 40', year] / 4 # '30-35 ',
    df_pop.loc[12,year] =  df_population.loc['20 bis 40', year] / 4 #  '35-40 ',
    df_pop.loc[13,year] =  df_population.loc['40 bis 60', year] / 4 #  '40-45 ',
    df_pop.loc[14,year] =  df_population.loc['40 bis 60', year] / 4 #  '45-50 ',
    df_pop.loc[15,year] =  df_population.loc['40 bis 60', year] / 4 #  '50-55 ',
    df_pop.loc[16,year] =  df_population.loc['40 bis 60', year] / 4 #  '55-60 ',
    df_pop.loc[17,year] =  df_population.loc['60 bis 80', year] / 4 #  '60-65 ',
    df_pop.loc[18,year] =  df_population.loc['60 bis 80', year] / 4 #  '65-70 ',
    df_pop.loc[19,year] =  df_population.loc['60 bis 80', year] / 4 #  '70-75 ',
    df_pop.loc[20,year] =  df_population.loc['60 bis 80', year] / 4 #  '75-80 ',
    df_pop.loc[21,year] =  df_population.loc['80 bis 100', year] / 4 #  '80-85 ',
    df_pop.loc[22,year] =  df_population.loc['80 bis 100', year] / 4 #  '85-90 ',
    df_pop.loc[23,year] =  df_population.loc['80 bis 100', year] / 4 #  '90-95 ',
    df_pop.loc[24,year] =  df_population.loc['80 bis 100', year] / 4 + df_population.loc['100 und mehr', year] #  '95 u. mehr

# create df_pop table with clean data
df_pop = pd.DataFrame(None, columns = ['age'])
df_pop['age'] = df_clean_2000['unter … Jahren'][1:17]

fill_year_column(2011)
fill_year_column(2012)
fill_year_column(2013)
fill_year_column(2014)
fill_year_column(2015)
fill_year_column(2016)
fill_year_column(2017)
fill_year_column(2018)
fill_year_column(2019)
fill_year_column(2020)
df_pop.set_index('age')

<ipython-input-2-19feb99f3947>:11: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will*not* be treated as literal strings when regex=True.
  df_population[columnName] = df_population[columnName].str.replace('+', '')

,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020
age,,,,,,,,,,
0-15,11100714.0,11040756.00,11012196.75,11065133.25,11303317.50,11416077.75,11439244.50,11470719.00,11497876.50,11500930.50
15-30,13268680.0,13283103.00,13357497.75,13481303.25,13815354.00,13915309.25,13990109.50,14047099.00,14066541.50,14011340.50
30-35,4784221.0,4801425.50,4843382.75,4896462.75,5023790.75,5054975.00,5088514.00,5111763.00,5116958.00,5088848.50
35-40,4784221.0,4801425.50,4843382.75,4896462.75,5023790.75,5054975.00,5088514.00,5111763.00,5116958.00,5088848.50
40-45,6238765.5,6223069.25,6190810.75,6154121.75,6126799.25,6072332.75,6025301.25,5975105.75,5907481.00,5843822.50
45-50,6238765.5,6223069.25,6190810.75,6154121.75,6126799.25,6072332.75,6025301.25,5975105.75,5907481.00,5843822.50
50-55,6238765.5,6223069.25,6190810.75,6154121.75,6126799.25,6072332.75,6025301.25,5975105.75,5907481.00,5843822.50
55-60,6238765.5,6223069.25,6190810.75,6154121.75,6126799.25,6072332.75,6025301.25,5975105.75,5907481.00,5843822.50
60-65,4291457.5,4344760.00,4395350.00,4424347.50,4443257.75,4462268.75,4483519.75,4497085.00,4514329.50,4538334.75
65-70,4291457.5,4344760.00,4395350.00,4424347.50,4443257.75,4462268.75,4483519.75,4497085.00,4514329.50,4538334.75
70-75,4291457.5,4344760.00,4395350.00,4424347.50,4443257.75,4462268.75,4483519.75,4497085.00,4514329.50,4538334.75
75-80,4291457.5,4344760.00,4395350.00,4424347.50,4443257.75,4462268.75,4483519.75,4497085.00,4514329.50,4538334.75
80-85,1063684.0,1077578.25,1087513.25,1131706.00,1178176.00,1231675.25,1284122.75,1343784.25,1416048.25,1478992.25
85-90,1063684.0,1077578.25,1087513.25,1131706.00,1178176.00,1231675.25,1284122.75,1343784.25,1416048.25,1478992.25
90-95,1063684.0,1077578.25,1087513.25,1131706.00,1178176.00,1231675.25,1284122.75,1343784.25,1416048.25,1478992.25
95 u. mehr,1078120.0,1092984.25,1103820.25,1149180.00,1194675.00,1246884.25,1298316.75,1357753.25,1432990.25,1499457.25

In [5]:
# prepare relative data by dividing death rates by population
df_relative = pd.DataFrame(None, columns = ['age'])
df_relative['age'] = df_clean_2000['unter … Jahren'][1:17]

def calc_year_column(year):
    df_relative[year] = df_age[year] / df_pop[int(year)]

calc_year_column('2011')
calc_year_column('2012')
calc_year_column('2013')
calc_year_column('2014')
calc_year_column('2015')
calc_year_column('2016')
calc_year_column('2017')
calc_year_column('2018')
calc_year_column('2019')
calc_year_column('2020')

df_relative.set_index('age')

# store result
df_relative.to_csv('../output/relative_sterberaten.csv', index = False)

df_relative

,age,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020
9,0-15,0.000322,0.000293,0.000299,0.000294,0.000305,0.000332,0.000312,0.000315,0.000309,0.000286
10,15-30,0.000376,0.000349,0.000335,0.000320,0.000332,0.000313,0.000297,0.000299,0.000282,0.000273
11,30-35,0.000545,0.000509,0.000535,0.000520,0.000555,0.000530,0.000533,0.000516,0.000515,0.000511
12,35-40,0.000745,0.000695,0.000715,0.000698,0.000719,0.000733,0.000737,0.000750,0.000762,0.000796
13,40-45,0.001274,0.001186,0.001100,0.001012,0.000993,0.000961,0.000882,0.000928,0.000920,0.000990
14,45-50,0.002466,0.002386,0.002350,0.002219,0.002189,0.002100,0.001950,0.001851,0.001716,0.001656
15,50-55,0.003849,0.003821,0.003941,0.003899,0.003952,0.003874,0.003798,0.003791,0.003625,0.003551
16,55-60,0.005311,0.005253,0.005463,0.005410,0.005703,0.005818,0.005821,0.006101,0.006018,0.006232
17,60-65,0.010067,0.010200,0.010491,0.010365,0.010748,0.010604,0.010637,0.011026,0.010847,0.011192
18,65-70,0.013183,0.012313,0.012322,0.011727,0.012751,0.013587,0.013991,0.014601,0.014510,0.014836
19,70-75,0.023159,0.022722,0.022198,0.020523,0.019768,0.017532,0.016859,0.016775,0.016368,0.017300
20,75-80,0.027294,0.027884,0.029514,0.029610,0.031501,0.031008,0.031054,0.030531,0.028590,0.027073
21,80-85,0.142400,0.142465,0.141135,0.127847,0.132411,0.126189,0.128759,0.131485,0.128131,0.131339
22,85-90,0.149129,0.149309,0.153863,0.143947,0.149389,0.138516,0.135457,0.129536,0.119294,0.123807
23,90-95,0.083045,0.095900,0.106492,0.103714,0.107873,0.098622,0.099566,0.098208,0.092692,0.095211
24,95 u. mehr,0.039313,0.035816,0.032822,0.028839,0.034159,0.035472,0.039025,0.039895,0.037594,0.039157